<!DOCTYPE html>
<html th:lang = "ko"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>TEST</title>

</head>

<!-- 이거 보이면 타임리프 제대로 적용된거-->
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
	11111
		<div layout:fragment="content"></div>  <!-- 실제 콘텐츠  -->
	</div>
	<!-- ./wrapper -->
	
	
	 
</body>
</html>